spring:
  application:
    name: notificationservice

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8099
  servlet:
    context-path: /notification

# Logging levels
logging:
  level:
    root: INFO

eureka:
  instance:
    instanceId: ${spring.application.name}:${server.port}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

springdoc:
  api-docs:
    path: /public/api-docs

workspark:
  redis:
    messaging:
      sub: true
  liquibase: false
  multitenant: false
