server:
  port: 8761

eureka:
  instance:
    instanceId: ${spring.application.name}:${server.port}
    hostname: localhost
    prefer-ip-address: true
  client:
    register-with-eureka: false
    fetch-registry: false

spring:
  application:
    name: discoveryservice

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always